networks:
  kafka-net:
    driver: bridge

name: taximax

services:
  kafka-1:
    image: apache/kafka:3.8.0
    container_name: kafka-1
    restart: always
    networks:
      - kafka-net
    environment:
      - KAFKA_NODE_ID=1
      - KAFKA_PROCESS_ROLES=broker,controller
      - KAFKA_KRAFT_CLUSTER_ID=p7c5BEdZSdWu7EhMFbkYFA
      - KAFKA_LISTENERS=PLAINTEXT://:9192,CONTROLLER://:9094,EXTERNAL://:9091
      - KAFKA_ADVERTISED_LISTENERS=EXTERNAL://localhost:9091,PLAINTEXT://kafka-1:9192
      - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,EXTERNAL:PLAINTEXT,PLAINTEXT:PLAINTEXT
      - KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_INTER_BROKER_LISTENER_NAME=PLAINTEXT
      - KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka-1:9094,2@kafka-2:9094,3@kafka-3:9094
      - KAFKA_DELETE_TOPIC_ENABLE=true
    ports:
      - 9091:9091
    volumes:
      - kafka1_data:/bitnami/kafka

  kafka-2:
    image: apache/kafka:3.8.0
    container_name: kafka-2
    restart: always
    networks:
      - kafka-net
    environment:
      - KAFKA_NODE_ID=2
      - KAFKA_PROCESS_ROLES=broker,controller
      - KAFKA_KRAFT_CLUSTER_ID=p7c5BEdZSdWu7EhMFbkYFA
      - KAFKA_LISTENERS=PLAINTEXT://:9192,CONTROLLER://:9094,EXTERNAL://:9092
      - KAFKA_ADVERTISED_LISTENERS=EXTERNAL://localhost:9092,PLAINTEXT://kafka-2:9192
      - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,EXTERNAL:PLAINTEXT,PLAINTEXT:PLAINTEXT
      - KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_INTER_BROKER_LISTENER_NAME=PLAINTEXT
      - KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka-1:9094,2@kafka-2:9094,3@kafka-3:9094
      - KAFKA_DELETE_TOPIC_ENABLE=true
    ports:
      - 9092:9092
    volumes:
      - kafka2_data:/bitnami/kafka

  kafka-3:
    image: apache/kafka:3.8.0
    container_name: kafka-3
    restart: always
    networks:
      - kafka-net
    environment:
      - KAFKA_NODE_ID=3
      - KAFKA_PROCESS_ROLES=broker,controller
      - KAFKA_KRAFT_CLUSTER_ID=p7c5BEdZSdWu7EhMFbkYFA
      - KAFKA_LISTENERS=PLAINTEXT://:9192,CONTROLLER://:9094,EXTERNAL://:9093
      - KAFKA_ADVERTISED_LISTENERS=EXTERNAL://localhost:9093,PLAINTEXT://kafka-3:9192,
      - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,EXTERNAL:PLAINTEXT,PLAINTEXT:PLAINTEXT
      - KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_INTER_BROKER_LISTENER_NAME=PLAINTEXT
      - KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka-1:9094,2@kafka-2:9094,3@kafka-3:9094
      - KAFKA_DELETE_TOPIC_ENABLE=true
    ports:
      - 9093:9093
    volumes:
      - kafka3_data:/bitnami/kafka

  postgres-auth:
    image: 'postgres:latest'
    container_name: postgres_auth
    restart: always
    networks:
      - kafka-net
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: ${auth.db.password}
      POSTGRES_DB: authServiceDb
    ports:
      - "5431:5432"
    volumes:
      - postgres_auth_data:/var/lib/postgresql/data

  postgres-car:
    image: 'postgres:latest'
    container_name: postgres_car
    restart: always
    networks:
      - kafka-net
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: ${car.db.password}
      POSTGRES_DB: carServiceDb
    ports:
      - "5433:5432"
    volumes:
      - postgres_car_data:/var/lib/postgresql/data

  postgres-driver:
    image: 'postgres:latest'
    container_name: postgres_driver
    restart: always
    networks:
      - kafka-net
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: ${driver.db.password}
      POSTGRES_DB: driverServiceDb
    ports:
      - "5434:5432"
    volumes:
      - postgres_driver_data:/var/lib/postgresql/data

  postgres-payment:
    image: 'postgres:latest'
    container_name: postgres_payment
    restart: always
    networks:
      - kafka-net
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: ${payment.db.password}
      POSTGRES_DB: paymentServiceDb
    ports:
      - "5435:5432"
    volumes:
      - postgres_payment_data:/var/lib/postgresql/data

  postgres-passenger:
    image: 'postgres:latest'
    container_name: postgres_passenger
    restart: always
    networks:
      - kafka-net
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: ${passenger.db.password}
      POSTGRES_DB: passengerServiceDb
    ports:
      - "5436:5432"
    volumes:
      - postgres_passenger_data:/var/lib/postgresql/data

  redis:
    image: redis:latest
    container_name: redis
    networks:
      - kafka-net
    ports:
      - "6379:6379"
    restart: always
    volumes:
      - redis_data:/data

volumes:
  kafka1_data:
  kafka2_data:
  kafka3_data:
  postgres_auth_data:
  postgres_car_data:
  postgres_driver_data:
  postgres_payment_data:
  postgres_passenger_data:
  redis_data:
